<!DOCTYPE html>
<html>
  <head>
    <title>Mriya</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container custom-container">
      <%= render 'shared/header' %>
      <%= custom_bootstrap_flash %>
      <!--<%= render 'shared/notifications' %>-->
      <%= yield %>
      <%= render 'shared/footer' %>

      <!--scroll top btn-->
      <a href="#0" class="cd-top">Top</a>
      
    </div>
  </body>
</html>
