<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="JgcYHunHnVtccF4uDcoN5pqoemh2SVayF4Y2HtqKSx4" />
    <!--google analitics-->
    <% if Rails.env.production? %>
      <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <% end %>
    <!--google analitics end  -->
  </head>
  <body>
    <div class="container custom-container">
      <%= render 'shared/header' %>
      <%= custom_bootstrap_flash %>
      <!--<%= render 'shared/notifications' %>-->
      <%= yield %>
      <%= render 'shared/footer' %>

      <!--scroll top btn-->
      <a href="#0" class="cd-top">Top</a>
      
    </div>
  </body>
</html>
